<div id="<%= dom_id team %>">
  <p>
    <strong>Account:</strong>
    <%= team.account_id %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= team.owner_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

</div>
